# Exclude everything.
*

# Then, include just the folders and files we want.
!README.md
!LICENCE
!CHANGELOG.md
!pyproject.toml
!src/
!src/**/*
!tests/
!tests/**/*
!.github/
!.github/**/*
!.gitignore
!.isort.cfg

# Finally, exclude anything in the above inclusions that we don't want.
*.pyc
*.pyo
*.ipynb
*.parquet
__pycache__/
.pytest_cache/